// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #f7f7f7;
$clr12: #C0C0C0;
$clr13: #999999;
$clr14: #474747;
$clr15: #555555;
$clr16: #37C0FB;
$clr17: #1f1f1f;

// --- font-sizes ---

// --- break points ---
//  max<->1260 = max
//  1260<->850 = mid
//  850<->750 = min
//  750<->0 = mni   



// header

